TOKEN=MTA1NDc3MjU0MzI3MTIxOTIxMA.GE0lmm.8-CO11PXYrTx9kydBbSByW10fNFNORTYdbf568
GUILD_ID=1054131142040756285
DATABASE_URI=mongodb+srv://Yatsuu:lucas2006~~@cluster0.l0y4c.mongodb.net/?retryWrites=true&w=majority
OwnerID=1054085248922685531